.tile-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #333;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
    text-align: center;
  }
  
  .tile-popup button {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .tile-popup button:disabled{
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .tile-popup button:hover {
    background-color: #0056b3;
  }
  